@charset "utf-8";
body {pointer-events: all !important;}

$assets: 'http://assets.kce.eenwereldmetlef.be.s3-website-eu-west-1.amazonaws.com';

// Our variables
$base-font-family: 'Avenir Next', Arial, sans-serif;
$font-family-sans-serif: $base-font-family;
$base-font-size: 1.2rem;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 2rem;

$text-color: #111;
$background-color: #fdfdfd;
$white: #fff;

$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);

$powder-blue: #c1ecf8;
$tan: #ffeace;

// From KCE style charter
$legacy-dark-blue: #004495;
$legacy-light-blue: #009de0;
$legacy-green: #7ab51d;
$legacy-red: #d3031b;
$legacy-orange: #f29400;

$primary: $legacy-dark-blue;
$secondary: $tan;
$success: $legacy-green;
$danger: $legacy-red;
$warning: $legacy-orange;
$info: $legacy-light-blue;

$fourk: 240em !default; /* 3840px */
$threek: 180em !default; /* 2880px */
$tv: 160em !default; /* 2560px */
$hd: 120em !default; /* 1920px */
$full: 100em !default; /* 1600px */
$width: 90em !default; /* 1440px */
$desktop: 80em !default; /* 1280px d */
$laptop: 64em !default; /* 1024px l */
$netbook: 56em !default; /* 896px n */
$tablet: 48em !default; /* 768px t */
$phablet: 40em !default; /* 640px f */
$phone: 30em !default; /* 480px p */
$watch: 20em !default; /* 320px w */

// Width of the content area
$content-width: 950px;

$on-laptop: 850px;
$on-palm: 600px;

$nav-break-one: 1399px;
$nav-break-two: 1199px;
$nav-collapsed-one: 991px;
