$animationDuration: 1s;

/* Create your own animations here */
@keyframes fadeUp {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fader-group {
  &[data-fader] {
    .fader-element {
      opacity: 0;

      animation-delay: 0;
      animation-direction: normal;
      animation-duration: $animationDuration;
      animation-fill-mode: forwards;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;

      &.faded {
        animation-name: fadeUp; /* Default animation */
      }
    }

    /* Add animation-names below */

    &.fadeUp .fader-element.faded {
      animation-name: fadeUp;
    }

    &.fadeDown .fader-element.faded {
      animation-name: fadeUp;
    }
  }
}
