$select-image: $select-p;
$radio-background: white;
$radio-border-color: $light;
$radio-select-background: $secundo;
$checkbox-image: $check-s;
$checkbox-width: 20 * $rpx;
$checkbox-height: 20 * $rpx;

.form {
  label {
    @include no-select;

    &[for] {
      cursor: pointer;
    }
  }

  input,
  output,
  textarea,
  select,
  button {
    margin: 0;
    padding: 0;

    outline: 0;

    font: inherit;

    @include appearance(none);
  }

  input[type="number"],
  input[type="text"],
  input[type="password"],
  input[type="tel"],
  input[type="email"],
  input[type="date"],
  output,
  textarea,
  select {
    z-index: 5;

    flex: 1 0 0px;
    width: 0;
    max-width: 100%;
    margin: 0;
    padding: $spacer/2;
    box-sizing: border-box;

    text-overflow: initial;

    color: $secondary;
    background-color: transparent;
    border: 0;
    box-shadow: none;

    line-height: 1.5;

    transition: all 0.15s ease-in-out;

    @include placeholder {
      color: $light;
      font-size: smaller;
      line-height: 1.8571428571;
      font-weight: 300;
    }

    &:focus {
      outline: 0;
      color: $primary;

      & ~ label {
        color: $primary;
      }
    }

    &.invalid {
      color: $error;

      & ~ label {
        color: $error;
      }

      & ~ .help.error {
        display: block;
      }
    }

    &:disabled {
      // color: $input-disabled-color;

      & ~ label {
        &:before {
          // background-color: $input-disabled-background;
        }
      }
    }

    &:required {
      ~ label {
        &:after {
          content: " *";

          color: $secondary;

          font-weight: bold;
        }
      }
    }

    ~ label {
      position: static;

      padding: $spacer/2;
      padding-right: 0;

      line-height: 1.5;

      &:before {
        content: "";

        position: absolute;
        top: $spacer/4;
        left: $spacer/4;
        right: $spacer/4;
        bottom: $spacer/4;
        z-index: -1;

        background-color: $light;
      }
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    position: absolute;

    width: 24 * $rpx;
    height: 0;
    min-height: 0;
    margin: 0;
    padding: 0;

    opacity: 0;

    border: 0;

    + label {
      padding-left: $spacer;

      display: block;

      white-space: normal;

      &:before,
      &:after {
        content: "";

        position: absolute;
        left: 0;
        top: 50%;

        width: $checkbox-width;
        height: $checkbox-height;
        margin-top: -$checkbox-height / 2;

        transition: $transition;
      }

      &:before {
        display: inline-block;

        background-color: $radio-background;
        // border: 1*$rpx solid $radio-border-color;
        border-radius: $border-radius;

        vertical-align: middle;
        cursor: pointer;
      }

      &:after {
        background: transparent $checkbox-image no-repeat center center;
      }
    }

    &:checked + label {
      &:before {
        border-color: $radio-select-background;
      }
    }
  }

  input[type="radio"] {
    + label:after {
      transform: scale(0);
    }
    &:checked + label:after {
      transform: scale(0.5);
    }
    &:active + label:after {
      transform: scale(0.67);
    }
  }

  input[type="checkbox"] {
    + label:after {
      transform: scale(0);
    }
    &:checked + label:after {
      transform: scale(1);
    }
    &:active + label:after {
      transform: scale(1.25);
    }
  }

  input[type="checkbox"] {
    & + label:after {
      @include no-select;
      // @include background-retina($checkbox-image);
    }
  }

  input[type="radio"] {
    + label:before,
    + label:after {
      position: absolute;

      border-radius: 50%;
    }

    + label:after {
      background-color: $radio-select-background;

      transform: scale(0);
    }

    &:checked + label:after {
      transform: scale(0.5);
    }
    &:active + label:after {
      transform: scale(0.67);
    }
  }

  textarea {
    min-height: 6em;

    display: block;

    resize: vertical;
  }

  select {
    padding-right: 45 * $rpx;

    // color: $select-color;
    background-image: $select-image;
    background-position: right 1rem center;
    background-repeat: no-repeat;

    &::-ms-expand {
      display: none;
    }

    ~ label {
      padding: 0;

      font-size: 0;
    }

    &,
    ~ .bohanselect {
      flex: 0 0 100%;
    }
  }

  button {
    &:not(:disabled) {
      cursor: pointer;
    }
  }

  .return-message {
    &:empty {
      display: none;
    }

    .notification {
      margin: $spacer/2 0;

      &:before {
        content: "▸ ";
      }

      &.success {
        color: $primary;

        &:before {
          content: "✔ ";
        }
      }

      &.error {
        color: $error;

        &:before {
          content: "✘ ";
        }
      }
    }
  }
}
