<nav id="nav" class="navbar navbar-light navbar-expand-sm d-print-none">
  <div class="container-fluid">
    <button class="navbar-toggler" onclick="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navigation">
        <li>
          <a class="nav-item" href="/" id={{item.file}}>Tool</a>
        </li>
        {% for item in pages %}
        {% if item.language == 'en' %}
        {% if item.menuTitle %}
        <li>
          <a class="nav-item" href="en/{{item.file}}.html" id={{item.file}}>{{ item.menuTitle }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>