<footer id="footer" class="footer d-print-none">
  <div id="doormat"><a onclick="routing(event)" id="links" class="links" aria-label="Links">
      {% if main[page.language].links-text%}
      {{ main[page.language].links-text | md }}
      {% endif %}
    </a>
  </div>
  <div class="text-center col-sm-11 main-footer" id="credits" role="footer contentinfo" aria-label="Footer">
    {% if main[page.language].footer %}
    {{ main[page.language].footer | md }}
    {% else %}
    {{ main.en.footer | md }}
    {% endif %}
  </div>
</footer>