<header id="header" class="d-print-none">
  <footer id="legacy-header">
    <ul id="legacy-header__languages">
      {% for language in main.languages %}
      {% if language.active == true %}
      <li class="list-inline-item">
        {% if language.short == page.language %}
        <span class="currentLanguage">{{ language.short }}</span>
        {% else %}
        <a id="{{language.short}}" class="selectLanguage">{{ language.short }}</a>
        {% endif %}
      </li>
      {% else %}
      <li><span class="disabled">{{ language.short }}</span></li>
      {%endif%}
      {% endfor %}
    </ul>
    <div id="legacy-header__info">
      {% if main[page.language].header.more-info %}
      {{ main[page.language].header.more-info | md }}
      {% else %}
      {{ main.en.header.more-info | md }}
      {% endif %}
      <img src={{"/assets/logos/logo_be.png"}} alt="logo belgium" width="32" height="24">
    </div>
  </footer>
  <h1 id="app-header">
    <a href="/">
      <img id="app-header__logo" src={{"/assets/logos/logo_kce.png"}} alt="logo KCE">
      <div id="app-header__title">
        {% if main[page.language].header.title %}
        {{ main[page.language].header.title }}
        {% else %}
        {{ main.en.header.title | md }}
        {% endif %}
      </div>
    </a>
  </h1>
</header>