<header class="header">
  <div class="row header_secondary">
    <span class="header_language col-md-4">
      <ul class="list-inline">
        {% for language in main.languages %}
        {% if language.active == true %}
        <a class="list-inline-item" onClick='selectLanguage({{language}})'>
          {% if language.short == page.language %}
          <li class="currentLanguage">{{ language.short }}</li>
          {% else %}
          <li>{{ language.short }}</li>
          {% endif %}
        </a>
        {% else %}
        <li class="list-inline-item inactiveLanguage">{{ language.short }}</li>
        {%endif%}
        {% endfor %}
      </ul>
    </span>
    <span class="header_more-info col-md-7 text-right">
      {% if main[page.language].header.more-info %}
      {{ main[page.language].header.more-info}}
      {% endif %}
    </span>
    <span class="header_logo_belgium col-md-1 text-right"><img src={{"/assets/logos/logo_be.png"}}
        alt="logo belgium"></span>
  </div>
  <div class="row header_primary">
    <div class="col-md-12">
      <span class="header_logo_main col-sm-12"><img src={{"/assets/logos/logo_kce.png"}} alt="logo KCE"></span>
      <span class="header_title text-center">
        <p>
          {% if main[page.language].header.title %}
          {{ main[page.language].header.title }}
          {% endif %}
        </p>
      </span>
    </div>
  </div>
</header>