<nav id="nav" class="navbar navbar-light navbar-expand-sm d-print-none">
  <div class="container-fluid">
    <button class="navbar-toggler" onclick="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navigation">
        <li>
          <a class="nav-item" href="/" id={{item.file}}>Tool</a>
        </li>
        {% for item in pages %}
        {% if page.language == item.language %}
        {% if item.menuTitle %}
        <li>
          {% if page.file == item.file %}
          <span class="nav-item active">{{ item.menuTitle }}</span>
          {% else %}
          <a class="nav-item" onclick="routing(event)" id={{item.file}}>{{ item.menuTitle }}</a>
          {% endif %}
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>