<nav class="navbar navbar-light navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" onclick="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navigation">
        {% for item in pages %}
          {% if page.language == item.language %}
            {% if item.menuTitle %}
              {% if page.file == item.file %}
                <li class="active">
              {%else%} 
                <li>
              {%endif%}
                  <a class="nav-item" onclick="routing(event)" id={{item.file}}>{{ item.menuTitle }}</a>
                </li>
            {% endif %}
          {%endif%}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>

<script>
  // includes your filter, if filter is set
  function routing(e) {
    let currentPage = window.location.href
    let filter = currentPage.substring(currentPage.indexOf('#'))

    if (filter.includes("#")) {
      window.location.href = `${e.target.id}.html${filter}`
    } else {
      window.location.href = `${e.target.id}.html`
    }
  }

  // simple navbar collapse without jQuery
  function toggleNavbar() {
    const navbar = document.getElementById("navbarNav")
    if (navbar.style.display === "none") {
      navbar.style.display = "block"
    } else {
      if (!navbar.style.display) {navbar.style.display = "block"}
      else {navbar.style.display = "none"}
    }
  }
</script>
