{% for item in pages %}
  {% if page.doc.language %}
    {% if item.doc.language == page.doc.language %}
      {% if item.doc.menuTitle %}
        <li>
          <a class="nav-item routing {% if page.doc.file == item.doc.file %}active{%endif%}" onclick="routing(event)"" id={{item.doc.file}}>{{ item.doc.menuTitle }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% else %}
    {% if item.doc.language == 'en' %}
      {% if item.doc.menuTitle %}
        <li>
          <a class="nav-item routing" id={{item.doc.file}}>{{ item.doc.menuTitle }}</a>
        </li>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}