<nav id="nav" class="navbar navbar-light navbar-expand-sm">
  <div class="container-fluid">
    <button class="navbar-toggler" onclick="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav navigation">
        <li>
          <a class="nav-item" onclick="routingTool('tool')" id={{item.file}}>Tool</a>
        </li>
        {% for item in pages %}
          {% if page.language == item.language %}
            {% if item.menuTitle %}
              {% if page.file == item.file %}
                <li class="active">
                {% else %}
                  <li>
                  {% endif %}
                  <a class="nav-item" onclick="routing(event)" id={{item.file}}>{{ item.menuTitle }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>