#main {
  padding: 2em;

  .text-wrapper {
    padding: 1em 1.2em;

    &:empty {
      display: none;
    }

    ul {
      list-style-type: square !important;

      li {
        display: list-item !important;
        margin-bottom: 1rem;
      }
    }

    a {
      &[href]:not(.btn) {
        color: $info;

        &:hover {
          color: $primary;
          text-decoration: underline;
        }

        &:active {
          color: $danger;
        }
      }
    }
  }

  header {
    flex: 0 0 100%;

    @include above($netbook) {
      flex: 1 0 0px;
      max-width: 25%;
      margin-right: 2em;
    }

    @include below($netbook) {
      margin-bottom: 2em;
    }
  }

  article {
    flex: 1 0 0px;

    @include below($tablet) {
      flex: 0 0 100%;
    }
  }

  aside {
    flex: 0 0 100%;
    display: flex;

    @include above($tablet) {
      flex: 1 0 0px;
      max-width: 50%;
    }

    @include above($netbook) {
      max-width: 55%;
    }

    > figure {
      display: block;

      align-self: stretch;
      flex: 0 0 100%;

      background-position: center center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
  }

  h1 {
    color: $warning;
  }

  h2,
  h3 {
    color: $primary;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
    text-transform: uppercase;
  }
}

.ref {
  cursor: pointer;

  &:after {
    content: ' ››';

    color: $info;

    font-weight: bold;
    white-space: nowrap;
  }

  &.expandedRef {
    margin: -0.3em -0.5em -0.2em;
    padding: 0.3em 0.5em 0.2em;

    display: inline-block;

    color: $warning;
    background-color: $tan;
    border-radius: 0.25em;

    &:after {
      color: inherit;
    }
  }
}

.footnote {
  cursor: pointer;

  &:after {
    content: 'i';

    border: 2px solid;
    border-radius: 80%;
    padding: 0.1rem 0.9rem;

    color: $info;

    font-weight: bold;
    font-size: 1.5rem;

    vertical-align: super;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  &.ref {
    float: left;

    + * {
      clear: left;
    }

    &.expandedRef {
      margin-bottom: 0.6em;
      display: block;
    }
  }
}
