#main {
  display: flex;

  .text-wrapper {
    padding: 1em 1.2em;
  }

  header {
    flex: 1 0 0px;
    max-width: 25%;

    @include above($tablet) {
      margin-right: 2em;
    }
  }

  article {
    flex: 1 0 0px;
  }

  aside {
    flex: 1 0 0px;
    max-width: 25%;

    display: flex;

    > figure {
      display: block;

      background-position: center center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
  }
}

.ref {
  cursor: pointer;

  &:after {
    content: ' ››';

    color: $info;

    font-weight: bold;
  }

  &.expandedRef {
    margin: -0.3em -0.5em -0.2em;
    padding: 0.3em 0.5em 0.2em;

    display: inline-block;

    color: $warning;
    background-color: $tan;
    border-radius: 0.25em;

    &:after {
      color: inherit;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  clear: left;

  &.ref {
    float: left;

    &.expandedRef {
      margin-bottom: 0.6em;
      display: block;
    }
  }
}
