// filters
#filterList {
  display: none;
}
.filterListContainer {
  .filterListButton {
    border: none;
    background-color: $grey-color-light;
    color: $grey-color;
  }
}

.summary {
  color: $legacy-light-blue;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}
