#footer {
  position: relative;
  z-index: 1;

  width: 100%;
  margin-top: 1rem;
  padding: 0 0.5rem;

  background-color: white;
  color: $grey-color;

  a {
    color: inherit;

    &:hover {
      color: $info;
      text-decoration: underline;
    }

    &:active {
      color: $danger;
    }
  }
}

#doormat {
  padding-top: 1em;

  border: 1px solid #d3d1d2;
  border-left-width: 0;
  border-right-width: 0;
}

#credits {
  padding: 1em 0;
  font-size: 0.75em;
}
