// header
// All legacy header styling according to KCE/Belgium guidelines:
// https://webguide.belgium.be/sites/default/files/be_header_styling.css

#header {
  position: relative;
  z-index: 1;

  background-color: white;
}

#legacy-header {
  margin: 0 1rem;
  padding: 0.625rem;

  display: flex;
  align-items: baseline;
  justify-content: space-between;

  background-color: white;
  border-bottom: 1px solid #d3d1d2;
}

#legacy-header__languages {
  margin: 0;

  display: flex;
  align-items: center;

  text-transform: uppercase;

  list-style-type: none;

  li {
    + li {
      margin-left: 0.5em;
    }

    a,
    span {
      padding: 0.25rem;

      color: #666;
      border-radius: 0.273em;

      text-decoration: none;
      font-size: 0.6875em;
    }

    a {
      cursor: pointer;

      &:hover {
        color: white;
        background-color: #666;
      }
      &.currentLanguage {
        color: white;
        background-color: #666;
      }
    }

    span {
      &.disabled {
        color: #ccc;

        text-decoration: line-through;

        &:hover {
          color: #ccc;
          background-color: white;
        }
      }
    }
  }
}

#legacy-header__info {
  display: flex;
  align-items: center;

  color: #333;

  font-size: 0.75rem;

  * {
    /* MD fix XD */
    margin: 0;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    width: 2rem;
    height: 1.5rem;
    margin-left: 0.5em;

    display: block;
  }

  @include below($tablet) {
    font-size: 0;

    a,
    img {
      font-size: 0.75rem;
    }
  }
}

#app-header {
  margin: 0;
  padding: 1rem;

  a {
    position: relative;

    margin: 0 1rem;

    display: block;

    color: $warning;

    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;

    @include below($tablet) {
      font-size: 1.2rem;
    }
  }
}

#app-header__logo {
  position: absolute;
  left: 0;
  top: 50%;

  width: 6rem;
  height: 2.41667rem;
  margin-top: -1.208333rem;

  @include below($phone) {
    top: 100%;

    width: 4.5rem;
    height: 1.8125rem;
    margin-top: -2.5rem;
  }
}

#app-header__title {
  text-align: center;

  @include above($phone) {
    padding: 0 6rem;
  }

  @include below($phone) {
    padding-bottom: 4rem;
  }
}
