#nav {
  position: relative;
  z-index: 1;

  padding: 0rem 1rem 1rem;

  background-color: white;

  ul.navigation {
    position: relative;
    z-index: 1;

    width: 100%;
    margin: 0;

    justify-content: center;

    &:before {
      content: '';

      position: absolute;
      top: 50%;
      left: 0;
      right: 0;

      height: 1px;

      background-color: #d3d1d2;
    }
  }

  .nav-item {
    color: $grey-color;

    text-transform: uppercase;
    text-decoration: none;
  }

  li {
    position: relative;
    z-index: 1;

    margin: 1rem 0.5rem;

    color: $grey-color;

    .nav-item {
      padding: 0.5em 1em;

      color: inherit;
      background-color: $grey-color-light;
      border-radius: $border-radius;

      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        background-color: $legacy-dark-blue;
        color: white;
        cursor: pointer;
      }

      &.active {
        background-color: $legacy-dark-blue;
        color: white;
      }
    }
  }

  .navbar-toggler {
    position: absolute;
    top: -2.75rem;
    right: 1rem;

    padding: 0.25rem 0.5rem;

    color: white;
    background-color: $grey-color-light;
    border: 0;

    outline: 0;
    appearance: none;
    cursor: pointer;
  }
}
